<!doctype html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NG9F4B2B');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Tailwind CSS -->
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/tailwind.css" rel="stylesheet">
    <script src="/static/js/scripts.js" defer></script>
    <title>Web Summariser</title>

    <meta name="purpleads-verification" content="275a768da24d64e672608555" />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "Web Summariser",
            "url": "https://websummariser.com/"
        }
        </script>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NG9F4B2B" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="min-h-screen flex flex-col items-center justify-center">
        <div class="text-center mb-8">
            <h1 class="text-4xl font-bold">Web Summariser</h1> <!-- Name of the app -->
            <p class="mt-2 text-gray-700">
                Safely summarise web pages of any size using the power of AI.
            </p>
        </div>
        <form onsubmit="submitApiKey(event)" class="bg-white p-6 rounded shadow-lg mb-4 w-1/3">
            <input type="text" name="api_key" class="border p-2 rounded w-full" placeholder="Enter OpenAI API Key"
                required>
            <button type="submit" class="bg-blue-500 text-white p-2 rounded mt-4">Submit</button>
            <p class="mt-4 text-sm text-gray-700">
                Your OpenAI API key is safe. Precautions have been taken to secure it, including server-side handling
                and secure transmission.
            </p>
            <p class="text-sm underline">
                <a href="https://github.com/Duartemartins/web_summariser" target="_blank">View Source Code on GitHub</a>
            </p>
            <p class="text-sm underline">
                <a href="https://platform.openai.com/account/api-keys">Get OpenAI API key</a>
            </p>
        </form>

        <form onsubmit="submitUrl(event)" class="bg-white p-6 rounded shadow-lg w-1/3">
            <input type="url" name="web_url" class="border p-2 rounded w-full" placeholder="Enter webpage URL" required
                pattern="https?://.+" title="Include http:// or https://">
            <button type="submit" class="bg-blue-500 text-white p-2 rounded mt-4 w-full" id="submit-url">Submit
                URL</button>
        </form>

        <!-- Place Buy Me a Coffee link in a new centered div -->
        <div class="text-center mb-4 w-1/6 mt-5">
            <a href="https://www.buymeacoffee.com/vj29sqm686n" target="_blank"><img
                    src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
                    class="mx-auto"></a>
        </div>
        <div id="error-popup"
            class="hidden absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center">
            <div class="bg-white p-4 rounded shadow-lg text-center">
                <p class="text-red-500">Incorrect API key. Please check and try again.</p>
                <button id="close-popup"
                    class="mt-2 bg-red-500 text-white py-1 px-4 rounded hover:bg-red-600">Close</button>
            </div>
        </div>

        <div>
            <script
                src="https://cdn.prplads.com/agent.js?publisherId=4e9b4d200496175576525876f66821f0:e66c2b3144b1a51ad6deea53223dcbf66d5b7d90087bb8905e7b5292770e45d2f4c85e8c5436bd9a7c0a62dc5959ec75676306eeaaeb2e47c9cc115c19446c00"
                data-pa-tag async></script>
        </div>

        <div id="loading-spinner" class="hidden">Loading...</div>


        <div id="summary" class="hidden bg-white p-6 rounded shadow-lg mt-4 w-1/3">
            <div class="flex justify-between items-center w-full mb-4"> <!-- Flex container -->
                <h2 class="text-2xl font-bold">Summary</h2>

                <button id="shareButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Share
                </button>
            </div>
            <div id="summary-content" class="">
                <!-- Summary will go here -->
            </div>
        </div>






    </div>

</body>

</html>